@model TModel 

@{
    ViewBag.Title = "title"; 
    Layout = "_Layout"; //частичное представление?
}

<div class="text-center"> 
    <br>
    <div>
        <br>
        <p>@Model.UserName, спасибо за регистрацию!</p>
    </div>
</div>
