@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, user</h1>
    <br/>
    <p>Это Ваш профиль</p>
    <br/>
    <p>Email: test@example.com</p>
    <p>Баланс: 500 ¥</p>

</div>