@{
    ViewData["Title"] = "Orders";
}

<div>
    <h2>Мои заказы</h2>
    @foreach (var order in Model)
    {
        <div>
            <p>Дата: </p>
            <p>Сумма: 200 ¥</p>
        </div>
    }
</div>